<h1>Institutions#show</h1>
<p>Find me in app/views/institutions/show.html.erb</p>

<p>
<strong> Institution Name: </strong>
<%= @institution.inst_name %>
</p>

<p>
<strong> Address: </strong>
<%= @institution.inst_add1 %>, <%= @institution.inst_add2 %>, <%= @institution.inst_city %>, <%= @institution.inst_state %>, <%= @institution.inst_zip %>
</p>

<p>
<strong> Website: </strong>
<%= @institution.inst_url %>
</p>
