<h1>List of Users</h1>

<br/>

<table >
<tr>
  	<th>User Id</th>
    <th>User Email</th>
    <th>Role</th>
    
  </tr>

<% @users.each do |user| %>
<tr>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td><%= user.role %></td>

     <% if can? :update, @user%>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <%end%>
      <% if can? :destroy, @user%>
        <td><%= link_to 'Delete', user_path(user), method: :delete, data: {confirm: 'Are you sure ?'} %></td>
      <%end%>
</tr>

<% end %>
</table>

<% if (user_signed_in?) && (can? :create, @user) %>
  
  <h3><%= link_to "Add a New User", new_user_path %></h3>
<% end %>

<h3><%= link_to 'Home', root_path%></h3>
<br/>
<br/>

