<h1>List of Users</h1>

<br/>

<table class="table table-hover">
  <thead>
    <tr>
  	  <th>User Id</th>
      <th>User Email</th>
      <th>Role</th>
    
    </tr>
  </thead>

<% @users.each do |user| %>
  <tbody>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td><%= user.role %></td>

     <% if can? :update, @user%>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <%end%>
      <% if can? :destroy, @user%>
        <td><%= link_to 'Delete', user_path(user), method: :delete, data: {confirm: 'Are you sure ?'} %></td>
      <%end%>
    </tr>
  </tbody>

<% end %>
</table>

<% if (user_signed_in?) && (can? :create, @user) %>
  
  <h3><%= link_to "Add a New User", new_user_path %></h3>
<% end %>

<h3><%= link_to 'Home', root_path%></h3>
<br/>
<br/>

