<h2> Details of selected class: </h2>

<p>
<strong> Class Name: </strong>
<%= @lesson.name %>
</p>

<p>
<strong> Description: </strong>
<%= @lesson.description %>
</p>

<p>
<strong> Weekday: </strong>
<%= @lesson.weekday %>
</p>

<p>
<strong> Ages: </strong>
<%= @lesson.min_age%> to <%= @lesson.max_age%> years
</p>

<%= link_to 'Back', lessons_path %>
<% if can? :update, @lesson %>
  <%= link_to 'Edit', edit_lesson_path(@lesson) %>
<%end%>

<% if can? :delete, @lesson %>
<%= link_to 'Delete', lesson_path(@lesson), method: :delete, data: {confirm: 'Are you sure ?'} %>
<%end%>


<h2> Class Location: </h2>

<p>
<strong> Institution: </strong>
<%= @location.inst_name %>
</p>

<p>
<strong> Address: </strong>
<%= @location.inst_add1 %>, <%= @location.inst_city %>, <%= @location.inst_state %>, <%= @location.inst_zip %>, <%= @location.latitude %>, <%= @location.longitude %>
</p>

<p>
<strong> Phone: </strong>
<%= @location.inst_phone %>
</p>

<p>
<strong> Website: </strong>
<%= link_to @location.inst_url, @location.inst_url %>
</p>


<h3>Nearby locations</h3>
<ul> 
<% for location in @location.nearbys(1) %> 
<li><%= link_to location.inst_name, location %> (<%= location.distance.round(2) %> miles)</li>
<%end%>
</ul>

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCNeCgrw0Fwol8sCeU_kCa5_3qaZuWU-7M&sensor=false">
</script>

<script>

var latitude = <%= @location.latitude %>
var longitude = <%= @location.longitude %>

function initialize()
{
  var image = 'images/map-marker.png';
  var myLatLng = new google.maps.LatLng(latitude, longitude);
  var mapProp = {
    center:new google.maps.LatLng(latitude, longitude),
    zoom:16,
    mapTypeId:google.maps.MapTypeId.ROADMAP
};
  var map=new google.maps.Map(document.getElementById("googleMap")
  ,mapProp);

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
  	  icon: 'map-marker.png'});

  marker.setMap(map);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>


<!-- <body> -->
<div id="googleMap" style="width:500px;height:380px;"></div>

<!-- </body> -->



