<h2 id="classDetails"> Details of selected class: </h2>


<div class="class-details">
<p>
<strong> Class Name: </strong>
<%= @lesson.name %>
</p>

<p>
<strong> Description: </strong>
<%= @lesson.description %>
</p>

<p>
<strong> Weekday: </strong>
<%= @lesson.weekday %>
</p>

<p>
<strong> Ages: </strong>
<%= @lesson.min_age%> to <%= @lesson.max_age%> years
</p>

</div>



<%= link_to 'Back', lessons_path %>
<% if can? :update, @lesson %>
  <%= link_to 'Edit', edit_lesson_path(@lesson) %>
<%end%>

<% if can? :delete, @lesson %>
<%= link_to 'Delete', lesson_path(@lesson), method: :delete, data: {confirm: 'Are you sure ?'} %>
<%end%>


<h2 id="classLoc"> Class Location: </h2>

<div class="location-details">

<p>
<strong> Institution: </strong>
<%= @location.inst_name %>
</p>

<p>
<strong> Address: </strong>
<%= @location.inst_add1 %>, <%= @location.inst_city %>, <%= @location.inst_state %>, <%= @location.inst_zip %>
</p>

<p>
<%= @location.latitude %>, <%= @location.longitude %>
</p>

<p>
<strong> Phone: </strong>
<%= @location.inst_phone %>
</p>

<p>
<strong> Website: </strong>
<%= link_to @location.inst_url, @location.inst_url %>
</p>
</div>

<h3 id= "nearbyLocs">Nearby locations</h3>
<div class="nearby-locations">
<ul> 
<% for location in @location.nearbys(1) %> 
<li><%= link_to location.inst_name, location %> (<%= location.distance.round(2) %> miles)</li>
<%end%>
</ul>
</div>

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCNeCgrw0Fwol8sCeU_kCa5_3qaZuWU-7M&sensor=false">
</script>

<script>
  var latitude = <%= @location.latitude %>
  var longitude = <%= @location.longitude %>

  google.maps.event.addDomListener(window, 'load', initialize(latitude, longitude));
</script>


<!-- <body> -->
<div id="googleMap" style="width:522px;height:380px;"></div>

<!-- </body> -->



